.my-navbar{
    background-color: turquoise;
}

.card-img-top {
  height: 15rem;
  object-fit: contain;
}

.card {
  width: 30%; 
  display:inline-block;
  margin: 1rem;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #b3d7ff;
  border-radius: 0.25rem;
}

.card-title {
    font-size: 125%;
    white-space:nowrap;
    text-align: center;
    background-color: turquoise;
}



